.footer__wrapper
  %ul.footer__contents
    %li.footer__content
      %h2.footer__item__title FURIMAについて
      %ul
        %li
          = link_to root_path, class: "footer__item" do
            会社概要（運営会社）
        %li
          = link_to root_path, class: "footer__item" do
            プライバシーポリシー
        %li
          = link_to root_path, class: "footer__item" do
            FURIMA利用規約
        %li
          = link_to root_path, class: "footer__item" do
            ポイントに関する特約
    %li.footer__content
      %h2.footer__item__title FURIMAを見る
      %ul
        %li
          = link_to root_path, class: "footer__item" do
            カテゴリー一覧
        %li
          = link_to root_path, class: "footer__item" do
            ブランド一覧
    %li.footer__content
      %h2.footer__item__title ヘルプ&ガイド
      %ul
        %li
          = link_to root_path, class: "footer__item" do
            FURIMAガイド
        %li
          = link_to root_path, class: "footer__item" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to root_path, class: "footer__item" do
            お知らせ
  .footer__logo
    = link_to image_tag('/assets/logo-white.png', class: "footer__logo--white"), root_path
    %p.footer__logo__name © FURIMA
