.header
  .header__inner
    .header__inner__main
      .header__inner__main__icon
        = link_to image_tag('logo.png', size: "140x41"), root_path
      .header__inner__main__search-box
        = form_tag('#', method: :get) do
          %input.header__inner__main__search-box--input{placeholder: "キーワードから探す"}
          %button.header__inner__main__search-box__btn-search{type: "submit"}
            = image_tag 'icon-search 1.png', size: "20x20"
            
    .header__inner__nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          = link_to root_path do
            カテゴリー
        %li.listsLeft__item
          = link_to root_path do
            ブランド
      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          = link_to user_session_path do
            ログイン
        %li.listsRight__item.listsRight__item--new
          = link_to  new_user_registration_path do
            新規会員登録