.section__pickup
  %h2.section__pickup__title ピックアップカテゴリー
  .new__item__contents
    = link_to root_path, class: "new__item__index" do
      新規投稿商品
    .new__item__lists
      - @items.each do |item|
        .new__item__list
          = link_to "#" do
            =image_tag 'icon-03.png',class: "new__item__image"
            .new__item__info
              %h3.new__item__name=item.name
              .new__item__value
                %ul
                  %li=item.price
                  %h4 円
                  %li
                    %icon.fa.fa-star
                      0
                %p (税込)
      
.section__pickup
  %h2.section__pickup__title ピックアップブランド
  .new__item__contents
    = link_to root_path, class: "new__item__index" do
      アーカイバ
    .new__item__lists
      .new__item__list
        = link_to root_path do
          =image_tag 'icon-03.png',class: "new__item__image"
          .new__item__info
            %h3.new__item__name Product
            .new__item__value
              %ul
                %li 30000円
                %li
                  %icon.fa.fa-star
                    0
              %p (税込)
      .new__item__list
        = link_to root_path do
          =image_tag 'icon-03.png',class: "new__item__image"
          .new__item__info
            %h3.new__item__name Product
            .new__item__value
              %ul
                %li 30000円
                %li
                  %icon.fa.fa-star
                    0
              %p (税込)
      .new__item__list
        = link_to root_path do
          =image_tag 'icon-03.png',class: "new__item__image"
          .new__item__info
            %h3.new__item__name Product
            .new__item__value
              %ul
                %li 30000円
                %li
                  %icon.fa.fa-star
                    0
              %p (税込)
  