.signupBody
  = render partial: 'header'

  .signupWrapper
    .signupWrapper__head
      %h2 商品送付先住所情報入力
    .signupWrapper__content
      = form_for(@shipping, url: shippings_path) do |f|
        = render "devise/shared/error_messages", resource: @shipping

        .signupWrapper__content__formGroup
          = f.label :お名前, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.text_field :destination_last_name, autofocus: true, autocomplete: "destination_last_name", class: 'signupWrapper__content__formGroup__form--half', placeholder: '例) 振間'
          = f.text_field :destination_first_name, autofocus: true, autocomplete: "destination_first_name", class: 'signupWrapper__content__formGroup__form--half', placeholder: '例) 太郎'

        .signupWrapper__content__formGroup
          = f.label :お名前かな, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.text_field :destination_last_name_kana, autofocus: true, autocomplete: "destination_last_name_kana", class: 'signupWrapper__content__formGroup__form--half', placeholder: '例) ふりま'
          = f.text_field :destination_first_name_kana, autofocus: true, autocomplete: "destination_first_name_kana", class: 'signupWrapper__content__formGroup__form--half', placeholder: '例) たろう'

        .signupWrapper__content__formGroup
          = f.label :郵便番号, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: 'signupWrapper__content__formGroup__form', placeholder: '例) 1234567'

        .signupWrapper__content__formGroup
          = f.label :都道府県, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.collection_select :prefecture_code, Prefecture.all, :id, :name, prompt: "選択してください"

        .signupWrapper__content__formGroup
          = f.label :市区町村, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.text_field :city, autofocus: true, autocomplete: "city", class: 'signupWrapper__content__formGroup__form', placeholder: '例) 渋谷区'

        .signupWrapper__content__formGroup
          = f.label :番地, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--must 必須
          %br/
          = f.text_field :address, autofocus: true, autocomplete: "address", class: 'signupWrapper__content__formGroup__form', placeholder: '例) 道玄坂２−２３−１２'

        .signupWrapper__content__formGroup
          = f.label :建物名, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--optional 任意
          %br/
          = f.text_field :building, autofocus: true, autocomplete: "building", class: 'signupWrapper__content__formGroup__form', placeholder: '例) フォンティスビル７F'

        .signupWrapper__content__formGroup
          = f.label :電話番号, class: 'signupWrapper__content__formGroup__label'
          %span.signupWrapper__content__formGroup__label--optional 任意
          %br/
          = f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: 'signupWrapper__content__formGroup__form', placeholder: '例) 09012345678'

        .signupWrapper__content__submit
          = f.submit "会員登録" ,class: 'signupWrapper__content__submit__btn'

  = render partial: 'footer'