.header
  = render partial: 'top/header'
.wrapper
  .user-mypage__wrapper
    = render partial: 'users/user-mypage__side-bar'
    = render partial: 'users/user-mypage__main-contents'
  .main__section5
    = render partial: 'top/section5'
  .footer
    = render partial: 'top/footer'
  = link_to root_path, class: "purchage__send" do
    %p 出品する
    %img.camera__image{:alt => "", :src => "assets/icon_camera.png"}1