.header
  = render partial: 'top/header'
.wrapper
  .user-mypage__wrapper
    = render partial: 'users/user-mypage__side-bar'
    = render partial: 'users/user-mypage__main-contents'
  .main__section5
    = render partial: 'top/section5'
  .footer
    = render partial: 'top/footer'
  = link_to root_path, class: "purchage__send" do
    %p 出品する
    = image_tag "icon_camera.png", alt: "", class: "camera__image"