%section.item-box-container
  %h1.item-name<
    = @item.name
  .item-main-content
    .item-photo
      .item-photo__main
        = image_tag @item.images[0].url.url, class: "item-photo__main__parent"
      .item-photo__sub
        - @item.images[1..-1].each do |image|
          = image_tag image.url.url, class:'item-photo__sub__children'
    %table.item-detail-table
      %tr
        %th 出品者
        %td 
          = @user
      %tr
        %th カテゴリー
        %td
          - @parents.each do |parent|
            -if @item.category_id == parent.id
              = link_to '#' do
                = parent.name
                %br
            - parent.children.each do |child|
              -if @item.category_id == child.id
                = link_to '#' do
                  = parent.name
                  %br
                = link_to '#' do
                  >
                  = child.name
                  %br
              - child.children.each do |grandchild|
                -if @item.category_id == grandchild.id
                  = link_to '#' do
                    = parent.name
                  %br
                  = link_to '#' do
                    >
                    = child.name
                  %br
                  = link_to '#' do
                    >>
                    = grandchild.name
                  %br
      %tr
        %th ブランド
        %td 
          = @item.brand
      %tr
        %th 商品の状態
        %td 
          =  @condition
      %tr
        %th 配送料の負担
        %td 
          = @postage_payer
      %tr
        %th 発送元の地域
        %td 
          = @shipping_prefecture
      %tr
        %th 発送日の目安
        %td 
          = @shipping_day
  .item-price
    %span.item-price-bold= "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
    %span.item-tax (税込み)
    %span.item-shipping-fee 送料込み
  -if user_signed_in?
    -if current_user.id == @item.user_id 
      = link_to '商品情報を編集する', edit_item_path(@item), class: "item-edit-btn"
      = link_to '削除する', item_path, class: "item-delete-btn", method: :delete
      -# = link_to '削除する', '#', class: "item-delete-btn"
    -elsif @item.trading_status != "販売中"
      .sell-btn 売り切れ
    -else
      = link_to '購入画面に進む', item_purchase_index_path(@item), class: "item-buy-btn"
    .item-introduction
      %p.item-introduction__content
        = @item.introduction
  -else
    = link_to "ログインする", user_session_path, class:"login-btn"
    = link_to "新規会員登録する", new_user_registration_path, class:"resist-btn"
