= form_with model: @item do |f|
  .post__new__wrapper
    - @item.errors.full_messages.each do |message|
      .form-error
        = message
    #image-box
      = f.fields_for :images do |image|
        .js-file_group{"data-index" => "#{image.index}"}
          = image.file_field :src, class: 'js-file'

        .detail-content
          .detail-content__category
            %label.detail-content__category__label
              カテゴリー
              %span.detail-content__category__require
                必須
          .selectBoxCategory
            #parentsWrapper
              = f.collection_select :category_id,  @parents, :id, :name, { include_blank: "---", selected:"" }, { id: "parentsCategory" }
          .detail-content__brand
            %label.detail-content__brand__label
              ブランド
              %span.detail-content__brand__require
                任意
          = f.text_field :brand, placeholder: "例) シャネル"
          .detail-content__condition
            %label.detail-content__condition__label
              商品の状態
              %span.detail-content__condition__require
                必須
          = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {prompt: "選択してください"}

    