.product-new
  .new__header
    =  link_to image_tag('logo.png', size: "140x41"), root_path
  = form_with model: @item do |f|
    .post__new__wrapper
      .main-content
        - @item.errors.full_messages.each do |message|
          .form-error
            = message
        .main-content__image
          #image-box
            %label.sell-content__image__label
              商品画像 
            %span.product-require
              必須
            .main-content__image__introduce
              最大5枚までアップロードできます
            .post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_images_attributes_0_url", class: "label-box", id: "label-box--0"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :images do |image|
                  = image.file_field :url, class: 'hidden-field'
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][url]", id: "item_images_attributes_1_url" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][url]", id: "item_images_attributes_2_url" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][url]", id: "item_images_attributes_3_url" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][url]", id: "item_images_attributes_4_url" }          
          = f.hidden_field :trading_status, value: "販売中"
        
        .sell-content
          .sell-content__name
            %label.sell-content__name__label
              商品名
              %span.product-name__require
                必須
          = f.text_field :name, placeholder: "40字まで"
          .sell-conent___introduce
            %label.sell-content__introduce__label
              商品の説明
              %span.product-introduce__require
                必須
            = f.text_area :introduction, placeholder: "商品の説明(必須1,000文字以内)"

        .detail-content
          .detail-content__category
            %label.detail-content__category__label
              カテゴリー
              %span.detail-content__category__require
                必須
          = f.collection_select :category_id, Category.all, :id, :name,{prompt: "選択してください"}
          .detail-content__brand
            %label.detail-content__brand__label
              ブランド
              %span.detail-content__brand__require
                任意
          = f.text_field :brand, placeholder: "例) シャネル"
          .detail-content__condition
            %label.detail-content__condition__label
              商品の状態
              %span.detail-content__condition__require
                必須
          = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {prompt: "選択してください"}

        .delivery-content
          .delivery-content__chage
            %label.delivery-content__chage__label
              配送料の負担
              %span.delivery-content__chage__require
                必須
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {prompt: "選択してください"}
          .delivery-content__area
            %label.delivery-content__area__label
              発送元の地域
              %span.delivery-content__area__require
                必須
          = f.collection_select :shipping_prefecture_id, ShippingPrefecture.all, :id, :name, {prompt: "選択してください"}
          .delivery-content__days
            %label.delivery-content__days__label
              発送までの日数
              %span.delivery-content__days__require
                必須
          = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, {prompt: "選択してください"}
        .price
          .price__left__content
            %label.price__left__left
              値段
              %span.price__left__require
                必須
          .price__right__content
            %label.price__mark
              ¥
            = f.text_field :price, placeholder: "0"
        .send 
          .send__btn
            = f.submit "出品する",onfocus: "this.blur();"
  .footer
    .footer__logo--white
      = image_tag 'logo-white.png', size: '140x41'
      %p.footer__logo__name © FURIMA

        